<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Students</title>
    </head>
    <body>
        {% if student_list_json != '[]' %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <div id="app">
                <ul>
                    <li v-for="enrollment in enrollments">
                        [[ enrollment ]]
                    </li>
                </ul>
            </div>
            <script>
                const app = new Vue({
                    delimiters: ['[[', ']]'],
                    el: '#app',
                    data: {
                        enrollments: []
                    },
                    created() {
                        this.enrollments = {{ enrollment_list_json|safe }}
                    }
                });
            </script>
        {% else %}
            <p>No courses for that student id are available.</p>
        {% endif %}
        <a href={% url 'index' %}>Return to main menu.</a>
    </body>

</html>